.header {
    font-size: 50px;
    line-height: 55px;
    font-weight: 600;
    color: #207EED;
}

#asset-container {
    margin: 30px;
}

#asset-container > img {
    width: 100px;
    height: 100px;
}

p {
    color: #274C9C;
    /*font-style: italic;*/
    background: #E5F7FE;
}
